##Â Importing libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.plotly as py
import cufflinks as cf

cf.go_offline()

## Importing dataset

In [2]:
chicago_cmr = pd.read_csv('chicago_clean.csv')

In [3]:
chicago_cmr.head()

,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Year,Latitude,Longitude,Location
0,2001-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,0,0,631,6.0,2001,41.748623,-87.608654,"(41.748623027, -87.608654109)"
1,2001-01-01 00:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,0,0,624,6.0,2001,41.754802,-87.598147,"(41.754802305, -87.598146873)"
2,2001-01-01 00:00:00,0810,THEFT,OVER $500,APARTMENT,0,0,2332,19.0,2001,41.938952,-87.638164,"(41.938952432, -87.638163582)"
3,2001-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,0,0,624,6.0,2001,41.752062,-87.607828,"(41.752061911, -87.607827503)"
4,2001-01-01 00:00:00,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,0,0,1013,10.0,2001,41.850386,-87.715108,"(41.850385805, -87.715107802)"

In [4]:
chicago_cmr['Date'] = pd.to_datetime(chicago_cmr['Date'])

In [5]:
chicago_cmr.dtypes

Date                    datetime64[ns]
IUCR                            object
Primary Type                    object
Description                     object
Location Description            object
Arrest                           int64
Domestic                         int64
Beat                             int64
District                       float64
Year                             int64
Latitude                       float64
Longitude                      float64
Location                        object
dtype: object

In [6]:
chicago_timeindex = chicago_cmr.set_index(pd.DatetimeIndex(chicago_cmr.Date))

In [12]:
chicago_crime_counts = pd.DataFrame(chicago_cmr['Location'].value_counts()).reset_index()

In [13]:
chicago_crime_counts = chicago_crime_counts.rename(columns={'index': 'Location', 'Location': 'Crime_Counts'})
chicago_crime_counts.head()

                        Location  Crime_Counts
0  (41.976290414, -87.905227221)         13154
1  (41.754592961, -87.741528537)          9451
2  (41.883500187, -87.627876698)          7048
3  (41.897895128, -87.624096605)          4348
4  (41.896888586, -87.628203192)          3139

In [28]:
chicago_arrest_counts = pd.DataFrame(chicago_cmr[chicago_cmr['Arrest'] == 1]['Location'].value_counts()).reset_index()

In [29]:
chicago_arrest_counts = chicago_arrest_counts.rename(columns={'index': 'Location', 'Location': 'Arrest_Count'})
chicago_arrest_counts.head()

                        Location  Arrest_Count
0  (41.883500187, -87.627876698)          4876
1  (41.754592961, -87.741528537)          4547
2  (41.976290414, -87.905227221)          3422
3  (41.885487535, -87.726422045)          2179
4  (41.909664252, -87.742728815)          2137

In [30]:
chicago_map = chicago_crime_counts.merge(chicago_arrest_counts, on='Location')

In [32]:
chicago_map = chicago_map[chicago_map['Crime_Counts'] > 499]

In [33]:
chicago_map

                          Location  Crime_Counts  Arrest_Count
0    (41.976290414, -87.905227221)         13154          3422
1    (41.754592961, -87.741528537)          9451          4547
2    (41.883500187, -87.627876698)          7048          4876
3    (41.897895128, -87.624096605)          4348          2109
4    (41.896888586, -87.628203192)          3139          1999
5    (41.909664252, -87.742728815)          3051          2137
6    (41.885487535, -87.726422045)          2688          2179
7    (41.904192368, -87.647000785)          2545          1907
8     (41.788987036, -87.74147999)          2480           621
9     (41.88233367, -87.627841791)          2454          1330
10   (41.736259984, -87.628068782)          2387          1185
11   (41.721627204, -87.624485177)          2379          1441
12   (41.737094305, -87.572998178)          2293           881
13    (41.68995741, -87.637460623)          2259           985
14   (41.739265865, -87.604893749)          2193          1465
15   (41.891990384, -87.611461502)          2184           358
16   (41.868180939, -87.709271389)          2169          2056
17   (41.979006297, -87.906463155)          2157           350
18   (41.736148121, -87.629070243)          2057          1383
19   (41.706070186, -87.653645803)          2009           916
20   (41.814007401, -87.628331665)          1957          1330
21   (42.019399237, -87.675049485)          1942          1323
22   (41.868541914, -87.639235361)          1924           445
23   (41.899410159, -87.624131266)          1908           566
24   (41.750940757, -87.625185222)          1901          1395
25   (41.766102387, -87.573539169)          1880          1406
26   (41.882394062, -87.627844798)          1878          1067
27   (41.929743818, -87.684273777)          1865          1048
28   (41.976200173, -87.905312411)          1862           619
29   (41.874363279, -87.643013039)          1857          1134
..                             ...           ...           ...
475  (41.966409353, -87.648852157)           520           118
476  (41.779520772, -87.660962362)           518           313
477    (41.92046017, -87.67083136)           518           288
478   (41.771736514, -87.66400571)           517           193
479  (41.895675136, -87.628569146)           516            52
480   (41.77279778, -87.683468276)           515           232
481  (41.750538141, -87.634278086)           515           158
482  (41.886815464, -87.628361716)           515           159
483  (41.885879253, -87.630979425)           514            92
484  (41.980826277, -87.883611316)           514            81
485  (41.824933076, -87.623104662)           513           101
486  (41.888131743, -87.629548167)           512           239
487   (41.82386008, -87.615162409)           512           222
488  (41.921715143, -87.668606344)           511           106
489   (41.78690669, -87.625500912)           508           241
490  (41.895420644, -87.720539406)           507           210
491  (41.678519693, -87.662497935)           507           312
492  (41.865397377, -87.640660777)           506           210
493  (41.751464464, -87.644063902)           506           290
494   (42.002478396, -87.66929687)           505           195
495  (41.799808989, -87.723350952)           505           100
496  (41.693421344, -87.620983384)           504           318
497  (41.777558327, -87.615558249)           504           162
498  (41.768727829, -87.624945647)           503            70
499   (41.736277427, -87.62510451)           503           257
500    (41.88465094, -87.75522124)           502           408
501   (41.911590736, -87.73531182)           502           262
502  (41.945863902, -87.767912706)           501           172
503   (41.74899896, -87.605175838)           501           170
504  (41.909804314, -87.651606387)           500           127

[505 rows x 3 columns]