In [1]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.plotly as py
import cufflinks as cf
cf.go_offline()
from ipywidgets import interact

from scipy import stats
import scipy.stats as stats
import statsmodels as sm

In [2]:
chicago_cmr = pd.read_csv('/Users/adrientalbot/Documents/final-project/data/chicago_clean.csv')

In [3]:
chicago_formatted = chicago_cmr.drop(columns = ['Location Description','Domestic', 'Beat','District', 'Latitude','Longitude', 'Location'])

In [4]:
chicago_formatted.head()

,Date,IUCR,Primary Type,Description,Arrest,Year
0,2001-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,0,2001
1,2001-01-01 00:00:00,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,0,2001
2,2001-01-01 00:00:00,0810,THEFT,OVER $500,0,2001
3,2001-01-01 00:00:00,0840,THEFT,FINANCIAL ID THEFT: OVER $300,0,2001
4,2001-01-01 00:00:00,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,0,2001

In [5]:
chicago_formatted['Description'].value_counts()

SIMPLE                                          802853
$500 AND UNDER                                  550552
DOMESTIC BATTERY SIMPLE                         524869
TO VEHICLE                                      377252
TO PROPERTY                                     358177
OVER $500                                       350548
POSS: CANNABIS 30GMS OR LESS                    275141
FORCIBLE ENTRY                                  264301
AUTOMOBILE                                      247121
FROM BUILDING                                   229303
RETAIL THEFT                                    170845
TELEPHONE THREAT                                135218
TO LAND                                         120814
POSS: CRACK                                     118283
UNLAWFUL ENTRY                                  103795
HARASSMENT BY TELEPHONE                         100631
AGGRAVATED: OTHER DANG WEAPON                    93712
POSS: HEROIN(WHITE)                              91971
ARMED: HANDGUN                                   91197
STRONGARM - NO WEAPON                            89194
AGGRAVATED: HANDGUN                              85143
AGGRAVATED:KNIFE/CUTTING INSTR                   57235
CREDIT CARD FRAUD                                53907
UNLAWFUL POSS OF HANDGUN                         48184
SOLICIT ON PUBLIC WAY                            47004
FINANCIAL ID THEFT: OVER $300                    40270
OTHER VEHICLE OFFENSE                            36395
TO STATE SUP LAND                                36220
VIOLATE ORDER OF PROTECTION                      34034
CRIMINAL DEFACEMENT                              33860
                                                 ...
CONTRABAND IN PRISON                                 6
LOTTERY/OTHER                                        6
LOTTERY/PARLAY CARDS                                 6
AGG RITUAL MUT:KNIFE/CUTTING I                       5
VIOLATION OF SUMMARY CLOSURE                         5
ATT AGG CRIM SEXUAL ABUSE                            5
CONCEALED CARRY LICENSE REVOCATION                   5
FAIL REGISTER LIC:CONT SUBS                          5
AGG RITUAL MUT:HANDGUN                               5
AGG RITUAL MUT:OTH DANG WEAPON                       5
REGISTER OF SALES BY DEALER                          5
FOUND PASSPORT                                       4
POLICY/OTHER                                         4
AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY          4
ARSONIST: DUTY TO REGISTER                           4
INTIMIDATION OF LAW ENFORCEMENT OFFICIAL             4
USE OF METAL PIERCING BULLETS                        4
INVOLUNTARY MANSLAUGHTER                             3
ATTEMPT AGG: OTHER FIREARM                           3
ARSONIST: FAIL TO REGISTER NEW ADDRESS               3
AGG RIT MUT: HANDS/FIST/FEET NO/MINOR INJURY         3
GUN OFFENDER NOTIFICATION-NO CONTACT                 3
NATIONAL LOTTERY                                     2
REGISTER FED GAMBLING STAMP                          2
MARRYING A BIGAMIST                                  1
DISCLOSE DV VICTIM LOCATION                          1
DOMESTIC VIOLENCE                                    1
THEFT RETAIL                                         1
KEEP PLACE OF JUV PROSTITUTION                       1
SPORTS TAMPERING                                     1
Name: Description, Length: 379, dtype: int64

In [6]:
primary_type_count = chicago_formatted['Primary Type'].value_counts()

In [7]:
df_primary_type_count = pd.DataFrame(primary_type_count).reset_index().rename({"index": "primary type", "Primary Type": "count"}, axis = 1)

In [8]:
top_20_primary = df_primary_type_count[df_primary_type_count['count'] > 14000]

In [9]:
top_20_primary['primary type'].unique()

array(['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT',
       'OTHER OFFENSE', 'BURGLARY', 'MOTOR VEHICLE THEFT',
       'DECEPTIVE PRACTICE', 'ROBBERY', 'CRIMINAL TRESPASS',
       'WEAPONS VIOLATION', 'PROSTITUTION', 'PUBLIC PEACE VIOLATION',
       'OFFENSE INVOLVING CHILDREN', 'CRIM SEXUAL ASSAULT', 'SEX OFFENSE',
       'INTERFERENCE WITH PUBLIC OFFICER', 'GAMBLING',
       'LIQUOR LAW VIOLATION'], dtype=object)

In [10]:
top_20_primary_array = top_20_primary['primary type'].unique()
top_20_primary_lst = list(top_20_primary_array)
top_20_primary_lst

['THEFT',
 'BATTERY',
 'CRIMINAL DAMAGE',
 'NARCOTICS',
 'ASSAULT',
 'OTHER OFFENSE',
 'BURGLARY',
 'MOTOR VEHICLE THEFT',
 'DECEPTIVE PRACTICE',
 'ROBBERY',
 'CRIMINAL TRESPASS',
 'WEAPONS VIOLATION',
 'PROSTITUTION',
 'PUBLIC PEACE VIOLATION',
 'OFFENSE INVOLVING CHILDREN',
 'CRIM SEXUAL ASSAULT',
 'SEX OFFENSE',
 'INTERFERENCE WITH PUBLIC OFFICER',
 'GAMBLING',
 'LIQUOR LAW VIOLATION']

In [11]:
chicago_formatted_primary = chicago_formatted[chicago_formatted['Primary Type'].isin(top_20_primary_lst)]

In [12]:
description_count = chicago_formatted_primary['Description'].value_counts()

In [13]:
df_description_count = pd.DataFrame(description_count).reset_index().rename({"index": "description", "Description": "count"}, axis = 1)

In [14]:
top_20_description = df_description_count[df_description_count['count'] > 89000]

In [15]:
top_20_description_array = top_20_description['description'].unique()
top_20_description_lst = list(top_20_description_array)
top_20_description_lst

['SIMPLE',
 '$500 AND UNDER',
 'DOMESTIC BATTERY SIMPLE',
 'TO VEHICLE',
 'TO PROPERTY',
 'OVER $500',
 'POSS: CANNABIS 30GMS OR LESS',
 'FORCIBLE ENTRY',
 'AUTOMOBILE',
 'FROM BUILDING',
 'RETAIL THEFT',
 'TELEPHONE THREAT',
 'TO LAND',
 'POSS: CRACK',
 'UNLAWFUL ENTRY',
 'HARASSMENT BY TELEPHONE',
 'AGGRAVATED: OTHER DANG WEAPON',
 'POSS: HEROIN(WHITE)',
 'ARMED: HANDGUN',
 'STRONGARM - NO WEAPON']

In [16]:
chicago_formatted_primary_description = chicago_formatted_primary[chicago_formatted_primary['Description'].isin(top_20_description_lst)]

In [20]:
chicago_formatted_primary_description.head()

                   Date  IUCR Primary Type     Description  Arrest  Year
2   2001-01-01 00:00:00  0810        THEFT       OVER $500       0  2001
5   2001-01-01 00:00:00  0810        THEFT       OVER $500       0  2001
8   2001-01-01 00:00:00  0560      ASSAULT          SIMPLE       0  2001
13  2001-01-01 00:00:00  0820        THEFT  $500 AND UNDER       0  2001
15  2001-01-01 00:00:00  0820        THEFT  $500 AND UNDER       0  2001

In [21]:
chicago_formatted_primary_description['Description'].unique()

array(['OVER $500', 'SIMPLE', '$500 AND UNDER', 'TO VEHICLE',
       'HARASSMENT BY TELEPHONE', 'TO PROPERTY', 'TELEPHONE THREAT',
       'AUTOMOBILE', 'UNLAWFUL ENTRY', 'TO LAND', 'STRONGARM - NO WEAPON',
       'POSS: CANNABIS 30GMS OR LESS', 'POSS: CRACK',
       'AGGRAVATED: OTHER DANG WEAPON', 'ARMED: HANDGUN',
       'FORCIBLE ENTRY', 'FROM BUILDING', 'POSS: HEROIN(WHITE)',
       'DOMESTIC BATTERY SIMPLE', 'RETAIL THEFT'], dtype=object)

In [22]:
chicago_formatted_primary_description['Primary Type'].unique()

array(['THEFT', 'ASSAULT', 'CRIMINAL DAMAGE', 'OTHER OFFENSE', 'BATTERY',
       'MOTOR VEHICLE THEFT', 'BURGLARY', 'CRIMINAL TRESPASS', 'ROBBERY',
       'NARCOTICS', 'CRIM SEXUAL ASSAULT'], dtype=object)